input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 7px 0px 40px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  color: #000000;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 7px 0px 40px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #F0F0F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-class {
  background-color: #1F1219;
  padding: 50px;
  box-shadow: 0 0 5px 2px #633333;
  color: #ffffff;
}

